<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Module:</string>
			<key>Description</key>
			<string>The name of the StateMachine Module</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>StateMachineModule</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>viewSubclass</string>
			<key>Required</key>
			<string>YES</string>
			<key>Name</key>
			<string>Subclass of:</string>
			<key>Description</key>
			<string>What view class to subclass for the new scene</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>UIViewController</string>
			<key>Values</key>
			<array>
				<string>UICollectionView</string>
				<string>UITableView</string>
				<string>UIView</string>
				<string>UIViewController</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
